<!DOCTYPE HTML>
<html>
    <head>
        <title>Inicio Sesión</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
              integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="formulario">
                        <div class="mb-3 text-center">
                            <h1>Iniciar Sesión</h1>
                        </div>
                        <div class="form-group">
                            <label for="nick">Nick de usuario</label>
                            <input id="nick" type="text" class="form-control" placeholder="Ingrese su nick de usuario"
                                   aria-label="Nick de usuario">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Ingrese su password"
                                   aria-label="Password">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-primary" onclick="iniciarSesion()">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ... Código HTML anterior ... -->

        <script>

            function redirectToRegisterPage() {
                // Redirige a la página de inicio de sesión
                window.location.href = "greeting";
            }


            function iniciarSesion() {
                var nick = document.getElementById("nick").value;
                var password = document.getElementById("password").value;

                // Datos que se enviarán en el cuerpo de la solicitud POST
                var data = {
                    nick: nick,
                    password: password
                };

                // Realiza la solicitud POST al servidor para verificar el inicio de sesión
                fetch('/usuario/verificarLogin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                        .then(response => response.json())
                        .then(result => {
                            if (result === null) {
                                alert("Credenciales incorrectas. Por favor, verifica tu nick y contraseña.");
                            } else {
                                window.location.href = "/baterias";
                            }
                        })
                        .catch(error => {
                            console.error('Error en la solicitud:', error);
                        });
            }
        </script>

    </body>
</html>
